@{
    ViewBag.Title = "About";
}
<head>
    <link rel="stylesheet" href="Styles.css"/>
</head>
<body>
    <div class="pageBody">
        <h2 class="boldText">What is QR_Gen?</h2>
        <h3>QR_Gen is a webapp that uses the QRCoder library to generate QR codes that can be used to simplify every day actions.</h3>
        <br />
        <h4>These actions include:</h4>
        <ul>
            <li>
                <p>URL Sharing</p>
            </li>
            <li>
                <p>Contact Data Sharing</p>
            </li>
            <li>
                <p>Fast Phone Number Dialing</p>
            </li>
            <li>
                <p>Quick SMS Sending</p>
            </li>
            <li>
                <p>Rapid Email Sending</p>
            </li>
        </ul>
    </div>
</body>
