@{
    ViewBag.Title = "Contact";
}
<head>
    <link rel="stylesheet" href="Styles.css" />
</head>
<body>
    <div class="pageBody">
        <h2 class="boldText">Contact Us</h2>
        <h3>
            <strong>Brandon Toledo</strong>
            Developer
        </h3>
        <address>
            <strong>Support:</strong>   <a href="mailto:brandon.toledo@oit.edu">brandon.toledo@oit.edu</a><br />
        </address>
    </div>
</body>
